<ul class="pager">
  <li class="previous">
    
    <%= link_to 'Back', employees_path %>
  </li>
  <li class="next">
    <%= link_to 'Show', @employee %>
  </li>
</ul>

<h1>Editing employee</h1>

<%= render 'form' %>


