<div class="well control-group">
<legend>考勤规则</legend>
<div class="form-inline">
<label>上班时间:</label>
<input type="time" class="input-small" />
<label>下班时间:</label>
<input type="time" class="input-small" />
<label>容忍值:</label>
<input type="number" class="input-mini" />
<label>节假日安排:</label>
<div  id="month" class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn">1</button>
  <button type="button" class="btn">2</button>
  <button type="button" class="btn">3</button>
  <button type="button" class="btn">4</button>
  <button type="button" class="btn">5</button>
  <button type="button" class="btn">6</button>

  <button type="button" class="btn">7</button>
  <button type="button" class="btn">8</button>
  <button type="button" class="btn">9</button>
  <button type="button" class="btn">10</button>
  <button type="button" class="btn">11</button>
  <button type="button" class="btn">12</button>
</div>
<button class="btn btn-primary pull-right">Save</button>
</div>
<div id="calendar"></div>
</div>

