<h1>Listing msgs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Unread</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @msgs.each do |msg| %>
      <tr>
        <td><%= msg.sender %></td>
        <td><%= msg.receiver %></td>
        <td><%= msg.unread %></td>
        <td><%= msg.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>


