<%provide(:title,@user.name)%>
<div class="well">
	<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <span class="label label-info" ><%= @user.email %></span>
</p>

</div>