<%provide(:title,@user.fullname)%>
<div class="well">
	<p>
	  <strong>Name:</strong>
	  <%= @user.fullname %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <span class="label label-info" ><%= @user.email %></span>
	</p>

</div>