<div class="well">
	<select onchange="javascript:location.href=?month=this.value" >
		<% 1.upto(12) do |month| %>
		<option><%= "#{month}" %></option>
		<% end %>
	</select>
</div>
<table class="table">
	<tr>
		<th>Day</th>
		<% 24.times do |hour| %>
		<th><%= "#{hour}" %></th>
		<% end %>
	</tr>
	<% 1.upto(31) do |day| %>
	<tr>
		<td style="background-color:gray"><%= "#{day}" %></td>
		<td class="pre" colspan="1"></td>
		<td class="mid" colspan="15" style="background-color:skyblue">8:00 - 18:00</td>
		<td class="app" colspan="14"></td>
	</tr>
	<% end %>
</table>