/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-responsive";


#calendar table{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#calendar table thead th{
  border: 1px solid;
  height: 30px;
}
#calendar table td{
  height: 80px;
  font-size: 36px;
  cursor: pointer;
  border: 1px dashed;
  box-shadow: 0 0 10px #ccc;

}

#calendar table td.normal:hover{
  background-color: #ccc;
}

#calendar table td.active:hover{
  background-color: #f70;
  color: #fff;
}

#calendar table td.active{
  border:0px;
  box-shadow:inset 0 0 10px #000;
  background-color: #f70;
}

