@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

body {  
	background-image: url(image_path('bg.png'));
 	background-repeat: repeat-x;
}

.nav-both{
	position: relative;
	margin-top: 5em;
}

.group_tree {
  zoom:3;
}

/* Change the docs' brand */
header > .navbar .brand {
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
header > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}

.go_top {
  background: #FFF;
  text-align: center;
  border: 1px solid #eee;
  display: none;
  height: 20px;
  width: 24px;
  padding-top: 4px;
  overflow: hidden;
  border-radius: 6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}


.search-query:focus{
  width: 200px;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
          transition: all .3s;
}








