<h1>Listing notifictions</h1>


<% @notifictions.each do |notifiction| %>
<div class="well">
  <h3><%= notifiction.sender %></h3>
  <%= notifiction.msg %>
<%= link_to 'Destroy', notifiction, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% end %>