<%= debug(params) if Rails.env.development? %>
<footer class="footer" >
	<hr>
	<div class="footer">
	  <p>&copy; Company 2013</p>
	</div>
</footer>
<a class="go_top" href="#" style="display: inline;"><i class="icon icon-home"></i></a>
