<div class="alert alert-warning fuck-ie">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
 	<strong>Warning!</strong> 
 	为了保证您能获得最佳的浏览体验 , 我们推荐您使用 
 	简单, 快速, 安全的 <a href="https://www.google.com/chrome">Google Chrome</a> 浏览器 . 
 	更多详情请了解我们的 <a href="/helps/1">帮助页面</a> .
</div>
